.signin {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background: $filled-background-gradient;
}

.signin-header {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signin-header-logo {
  width: 80px;
  height: 60px;
  margin-bottom: 10px;
  position: relative;
}

.signin-header-logo-card-1,
.signin-header-logo-card-2,
.signin-header-logo-card-3 {
  position: absolute;
  width: 60px;
  height: 40px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(20px);
  border-radius: 4px;
}

.signin-header-logo-card-1 {
  top: 0px;
  left: 0px;
}

.signin-header-logo-card-2 {
  top: 10px;
  left: 10px;
}

.signin-header-logo-card-3 {
  top: 20px;
  left: 20px;
}

.signin-header-title {
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0.5px;
}

.signin-form {
  margin-top: 7vh;
  width: 80%;
  max-width: 500px;
  border-radius: 4px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  box-shadow: 1px 1px 20px 2px rgba(0, 119, 182, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  h2 {
    margin-bottom: 12px;
    color: rgba(2, 62, 138, 0.7);
    letter-spacing: 0.4px;
  }
  input {
    margin-bottom: 8px;
    outline: none;
    padding: 14px 16px;
    font-size: 16px;
    color: rgba(2, 62, 138, 0.5);
    letter-spacing: 0.4px;
    border: none;
    border-radius: 4px;
    transition: 0.3s all;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.6)
    );
  }
  input:focus {
    box-shadow: 1px 1px 5px 3px rgba(0, 119, 182, 0.1);
  }
  input::placeholder {
    color: rgba(2, 62, 138, 0.5);
  }
  button {
    width: 50%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(
      to right bottom,
      rgba(2, 62, 138, 0.7),
      rgba(2, 62, 138, 0.6)
    );
    color: white;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin: 4px 0px 20px auto;
  }
  a {
    text-decoration: none;
    color: rgba(2, 62, 138, 0.6);
  }
}
