.tasks-list {
  width: 100%;
  padding: 1.2em 0 4em 1em;
}

.tasks-list-container {
  padding-top: 2.5em;
  width: 100%;
  min-height: 30vh;
  border-left: 2px dashed rgba(10, 11, 10, 0.1);
}

@media (min-width: 768px) {
  .tasks-list {
    padding: 1.2em 0 4em 2em;
  }
}
