* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Rubik';
  color: #0A0B0A;
}

body {
  max-width: 1440px;
  overflow: hidden;
  position: relative;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}
